<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just-an-API</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header id="nav">
      <h1>Just an API</h1>
    </header>

    <div class="container">
      <h1><u> Using the REST API with this application.</u></h1>

      <b>
        <p>Try a GET request in the URL <a href="/api">/api</a></p>
        <p>
          Try a POST request in the URL <a href="/api">/api</a><br />
          Be sure to post a JSON object!!
        </p></b
      >
    </div>
  </body>
</html>
